  .pink-background{
    background-color: #FF00FF;  
  }
  .cyan-background{
    background-color: #00FFFF;
  }
  .red-background{
    background-color: #FF0000;
  }
  .green-background{
    background-color: #00FF00;  
  }
  .blue-background{
    background-color: #0000FF;
  }
  .yellow-background{
    background-color: #FFFF00;
  }
.height33{
  height: 33.3vh;
}

.height28{
  height: 25.3vh;
}

.centered {

  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainlinks {
  height: 8vh;
  font-family: "Lucida Console", Monospace;
  text-align: center;
  font-size: large;
  vertical-align: middle;
  line-height: 8vh; 
}

body {
  color: #FFFFFF;
  font-family: "Lucida Console", Monospace;
  font-size: large;
  line-height: 1.5;
}
p {
  font-size: medium;
  max-width: 650px;
  margin: 40px auto;
}
h3{
  max-width: 750px;
  margin: 40px auto;
}
a:hover {
  color:#FFFFFF
}
a {
  color:#FFFFFF
}